@font-face {
  font-family: "pacificoregular";
  src: url("../fonts/pacifico-regular-webfont.woff2") format("woff2"), url("../fonts/pacifico-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  background-color: #f9f8fb;
}
.header__h1 {
  font-weight: 900;
  font-size: 2.5rem;
}
.header__container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
  background-image: url(../images/strwbery.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.header__head {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-family: "pacificoregular", cursive;
}
.header__nav {
  display: flex;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__list {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 730px) {
  .header__list {
    flex-direction: column;
  }
}
.header__item {
  display: flex;
  margin-right: 35px;
  height: 50px;
  border: none;
  border-top: 2px solid transparent;
}
.header__item a {
  display: flex;
  width: 100%;
  color: #000;
  height: 100%;
}
.header__item:last-child {
  margin-right: 20px;
}
.header__item:hover {
  border-top: 2px solid red;
}
.header__hero {
  margin-top: 240px;
  margin-bottom: 240px;
  max-width: 450px;
}

.top {
  align-self: flex-start;
  background: url("images/strwbery.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.btn {
  display: flex;
  background-color: #ff6033;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  box-shadow: 0px 20px 30px 0px rgba(255, 96, 51, 0.3);
}

.about {
  width: 100%;
  background-color: #1ee417;
}
.about__h1 {
  font-weight: 900;
  font-size: 2.5rem;
}
.about__container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
  background-image: url(../images/strwred.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.isse {
  color: #e24949;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  font-family: "Raleway", sans-serif;
}

.color {
  background-color: royalblue;
}