@font-face {
  font-family: 'pacificoregular';
  src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
       url('../fonts/pacifico-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@import "_reset";
@import "_header";
@import "_about";

.isse {
  color: rgb(226, 73, 73);
  text-transform: uppercase;
  font-weight: bold;
}
body {
  font-family: "Raleway", sans-serif;
}
.color {
  background-color: royalblue;
}
